<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <div class="plantPalace_footer mt-3 mt-md-0">
      <div class="plantPalace_footercontent container">
        <div class="plantPalace_footertop container px-5 px-lg-0">
          <div class="row">
            <div class="col-lg-2 col-sm-6 mb-5 mb-lg-0">
              <img
                src="img/Logo/Plant-Palace.png"
                height="140px"
                alt="Plant Palaces"
                srcset=""
              />
            </div>
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
              <div class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-user-group text-white"></i>&nbsp;&nbsp;
                <h4 class="text-white fw-medium">About Us</h4>
              </div>
              <p class="mb-4 ps-0 company_details">
                Step into a world where the art of plant design is meticulously
                craplantPalace_footered to blend timeless elegance with cutting-edge innovation.
              </p>
              <ul class="social-network d-flex align-items-center p-0">
                <li>
                  <a href="https://www.facebook.com" target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com" target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.youtube.com" target="_blank"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="col-lg-1 d-sm-none"></div>
            <div class="col-lg-3 col-sm-5 mb-5 mb-lg-0  ms-auto">
              <div class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-link text-white"></i>&nbsp;&nbsp;
                <h4 class="text-white fw-medium">Important links</h4>
              </div>
              <ul class="link-widget p-0">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="shop.html">Products</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-5 mb-5 mb-lg-0 ms-auto">
              <div class="d-flex align-items-center mb-3">
                <i class="fas fa-headset text-white"></i>&nbsp;&nbsp;
                <h4 class="text-white fw-medium">Support</h4>
              </div>
              <ul class="link-widget p-0">
                <li id="privacy_policy">
                  <a href="#privacy_policy">Privacy Policy</a>
                </li>
                <li id="terms&conditions">
                  <a href="#terms&conditions">Terms & Conditions</a>
                </li>
                <li id="product_returns">
                  <a href="#product_returns">Product Returns</a>
                </li>
                <li id="wholesale_policy">
                  <a href="#wholesale_policy">Wholesale Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="p-0 m-0" />
        <div class="container py-3 align-items-center justify-content-center text-center d-flex">
          <p>Copyright © Plant Palace. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </body>
</html>
